@using CarProject.Domain.Entity
@using CarProject.Domain.Response
@model IBaseResponse<Car>
   

@{
}



<div >
    <p>Name: @Model.Data.Name</p>
    <p>Description: @Model.Data.Description</p>
    <p>Model: @Model.Data.Model</p>
    <p>Speed: @Model.Data.Speed</p>
    <p>Price: @Model.Data.Price</p>
    <p>Year: @Model.Data.DateCreate</p>
    <p>Type: @Model.Data.TypeCar</p>
</div>