@using CarProject.Domain.Entity
@using CarProject.Domain.Response
@model IBaseResponse<List<Car>>

@{
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Model</th>
            <th scope="col">Speed</th>
            <th scope="col">Price</th>
            <th scope="col">Year</th>
            <th scope="col">Type</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    <a asp-route-id="@item.Id" asp-controller="Car" asp-action="GetCar"><label>@item.Name</label></a>
                </td>
                <td>
                    <label>@item.Model</label>
                </td>
                <td>
                    <label>@item.Speed</label>
                </td>
                <td>
                    <label>@item.Price</label>
                </td>
                <td>
                    <label>@item.DateCreate</label>
                </td>
                <td>
                    <label>@item.TypeCar</label>
                </td>
                @if (User.IsInRole("Admin"))
                {

                    <td>
                        <button class="btn-warning">
                            <a asp-area="" asp-route-id="@item.Id" asp-controller="Car" asp-action="Edit">Править</a>
                        </button>
                    </td>
                    <td>
                        <button class="btn-danger">
                            <a asp-route-id="@item.Id" asp-controller="Car" asp-action="DeleteCar">Удалить</a>
                        </button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
