@using CarProject.Domain.Entity
@using CarProject.Domain.Response
@using CarProject.Domain.ViewModels
@model IBaseResponse<CarViewModel>

@{
}

<a class="btn btn-primary btn-sm" asp-action="GetCars" asp-controller="Car">Список машин</a>
<div class="card mb-3" style="max-width: 800px; margin: auto;">
    <div class="row g-0">
        <div class="col-md-5">
            <img src="~/images/car.png" class="img-fluid rounded-start" alt="@Model.Data.Name">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">@Model.Data.Name</h5>
                <p class="card-text"><strong>Model:</strong> @Model.Data.Model</p>
                <p class="card-text"><strong>Speed:</strong> @Model.Data.Speed</p>
                <p class="card-text"><strong>Price:</strong> @Model.Data.Price</p>
                <p class="card-text"><strong>Type:</strong> @Model.Data.TypeCar</p>
                <p class="card-text"><strong>Year:</strong> @Model.Data.DateCreate</p>
                <p class="card-text"><strong>Description:</strong> @Model.Data.Description</p>
            </div>
        </div>
    </div>
</div>
